.content {
    display: flex;
    font-size: 13px;
    margin: 10px 0;
    line-height: 1.2;
}

.content-left {
    width: 20%;
}

.content-right {
    width: 80%;
    padding-left: 5px;
}

.duration {
    font-weight: 700;
    font-size: 14px;
    em {
        margin: 0 2px;
        color: $b-c-highlight;
    }
}
